<li>
  <p>
    <strong><%= bug.name %></strong>
    <% if bug.current_state == 'accepted' %>
      <%= link_to 'Fixed!', in_state_path('fixed'), class: 'label success' %>
    <% elsif ['started', 'finished', 'rejected'].include?(bug.current_state) %>
      <%= link_to 'In progress', in_state_path('in_progress'), class: 'label warning' %>
    <% elsif bug.current_state == 'unstarted' %>
      <%= link_to 'Scheduled', in_state_path('scheduled'), class: 'label important' %>
    <% else %>
      <%= link_to 'Unscheduled', in_state_path('unscheduled'), class: 'label notice' %>
    <% end %>

    <% (bug.labels || "").split(',').each do |label| %>
      <%= link_to label, tagged_path(label), class: 'label' %>
    <% end %>
  </p>

  <%= markdown bug.description %>
</li>
